Django==2.2.15
django-bootstrap3==12.1.0
requests==2.24.0
django-environ==0.4.5
raven==6.10.0
python-dateutil==2.8.1
titlecase==1.1.1
dealer==2.1.0
ratelimit==2.2.1
django-super-favicon==0.6.1
jsonschema==3.2.0
lxml==4.5.2
urllib3==1.25.10


flake8==3.8.3
# pytest and plugins
pytest==6.0.1
pytest-django==3.9.0
pytest-cov==2.10.1
pytest-localserver==0.5.0
coveralls==2.1.2
selenium==3.141.0
Werkzeug==1.0.1
## The following requirements were added by pip freeze:
attrs==20.1.0
certifi==2020.6.20
chardet==3.0.4
coverage==5.2.1
docopt==0.6.2
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
mccabe==0.6.1
more-itertools==8.4.0
packaging==20.4
pathlib2==2.3.5
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytz==2020.1
regex==2020.7.14
six==1.15.0
sqlparse==0.3.1
toml==0.10.1
zipp==1.2.0
