attrs==20.1.0
certifi==2020.6.20
chardet==3.0.4
dealer==2.1.0
django-bootstrap3==12.1.0
django-environ==0.4.5
django-super-favicon==0.6.1
django==2.2.15
idna==2.10
jsonschema==3.2.0
lxml==4.6.2
pillow==7.2.0
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
ratelimit==2.2.1
raven==6.10.0
regex==2020.7.14
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
titlecase==1.1.1
urllib3==1.25.10
