Django==1.11.20 # rq.filter: <1.12
django-bootstrap3==11.0.0
requests==2.21.0
django-environ==0.4.5
raven==6.10.0
python-dateutil==2.8.0
titlecase==0.12.0
dealer==2.0.5
ratelimit==2.2.1
django-super-favicon==0.6.1
jsonschema==3.0.1
lxml==4.3.2
## The following requirements were added by pip freeze:
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
idna==2.8
Pillow==5.4.1
pyrsistent==0.14.11
pytz==2018.9
six==1.12.0
urllib3==1.24.1
