{% extends 'base.html' %}
{% load i18n %}
{% block main %}
  <main class="main-wrapper" role="main">
    {% include "sidebar.html" %}
    <div class="main-content single-content about-page">
      <div>
        <h1 class="about-page__header">{% trans "About" %}</h1>
      </div>

      <div class="about-page__half--left">
        <h2>What?</h2>
        <p><strong>org-id.guide is the easiest, quickest and most accurate way to locate organization identifiers.</strong></p>
        <p>We maintain a register of organization lists. Those lists, in turn, provide unique identifiers for companies, charities, government agencies and other kinds of organizations.</p>
        <p>We provide a code for each list, so that with the code, plus the identifier, you should be able to uniquely and unambiguously identify any organization in the world.</p>
        <p>Many of the lists in our register are official identifier sources (such as a country company register); other lists may be maintained by third-parties. When we can, we link out to websites where you can look up a specific organization, although we also include codes for lists that don't provide a public search service.</p>
        <p>We welcome new additions or updates to the register. We don't pre-judge the kinds of lists that should be included - but we do make sure the register includes good meta-data. We use that meta-data to provide a quality score that indicates how accessible and stable identifiers from the list are likely to be.</p>
      </div>
      <div class="about-page__half--right">
        <h2>Why?</h2>
        <p>org-id.guide has been created by a partnership of open data standards groups in order to provide a robust, shared approach to the use of <strong>open</strong>, <strong>interoperable</strong> and <strong>unambiguous</strong> organization identifers.</p>
        <p>It is a collaborative project designed to fill a gap in our shared data infrastructure.</p>
        <p>With org-id.guide you can:</p>
        <ul>
          <li><p>Declare which list an identifier is taken from - increasing data interoperability;</p></li>
          <li><p>Identify the best lists to use for new datasets - promoting openness;</p></li>
          <li><p>Find out where to look up more information on an organization - improving analysis and data quality; </p></li>
          <li><p>Discover crosswalks between different lists - supporting joined-up data;</p></li>
        </ul>
        <p>The members of the org-id.guide initiative use the register as a codelist to validate data, and to populate data entry user interfaces so that good quality data is created at source. </p>
      </p>
    </div><br/><br/><br/>


    <div>
      <h1 class="about-page__header">How do I use it?</h1>
    </div>
    <div class="about-page__half--left">
      <h2 id="data-creators">Data creators</h2>
      <p>Are you collecting or publishing data about organizations? </p>
      <p><strong>First</strong>, make sure you are collecting an identifier for each organization, as well as a name. You can lookup the best identifier list to use based on the country, organization type, or sector you are managing data for.</p>
      <p><strong>Second</strong>, when you store and publish data about an organization, you can use the list code for the organization identifier so that data users know which list the identifier is from.</p>
      <p>You can do this by combining the list code and identifier in a single string:</p>
      <p>E.g.<p>
        <code class="about-page__code">GB-COH-09506232</code>
        <p>Or separating out the list code into it’s own field:</p>
        <p>E.g.</p>
                <pre><code class="about-page__code">{
            "scheme": "GB-COH",
            "id": "09506232
        }</code></pre>

      </div>
      <div class="about-page__half--right">

        <h2 id="data-users">Data users</h2>
        <p>If you’ve come across an organization identifier, you can use org-id.guide to find out more about it and where to locate related open data.</p>

        <h2>Data contributors</h2>

        <p>We welcome new submissions to org-id.guide. The <a href="http://docs.org-id.guide">contributors handbook</a> details how you can submit a request or proposal for a new list to be included. New submissions are reviewed by the org-id.guide members.</p>
        <p>You can:</p>

        <ul>
          <li><p>Request research to identify an appropriate list</p></li>
          <li><p>Propose a new list</p></li>
          <li><p>Propose changes to an existing list in the register</p></li>
        </ul>

        <p>Following a light research process, new entries can be included in the codelist within 7 days. Entries are never removed from the downloadable list, but may be deprecated.</p>

      </div><br/><br/><br/>


      <div>
        <h1 class="about-page__header">More info</h1>
      </div>
      <div class="about-page__half--left">
        <h2 id="who-is-responsible">Who is responsible for org-id.guide?</h2>
        <p>The register is maintained by <a href="http://www.opendataservices.coop">Open Data Services Co-operative</a> for a group of partners including: <a href="http://juds.joinedupdata.org/">Joined Up Data Standards</a>, the <a href="http://www.iatistandard.org">International Aid Transparency Initiative</a>, <a href="http://www.resourcegovernance.org/">Natural Resource Governance Institute</a>, <a href="http://www.threesixtygiving.org">360Giving</a>, the <a href="https://www.interaction.org/project/open-ag-funding/overview">Initiative for Open Ag Funding</a> and <a href="http://www.open-contracting.org">Open Contracting</a>. These members have a role in the governance of the register.</p>
        <p>You can find out <a href="http://docs.org-id.guide/en/latest/members/">more about membership of the initiative here</a></p>

        <p>For more information contact <a href="mailto:contact@org-id.guide">contact@org-id.guide</a></p>
      </div>
      <div class="about-page__half--right">
        <h2 id="history">History</h2>
        <p>org-id.guides started as a sanctioned fork of the <a href="http://iatistandard.org/202/codelists/OrganizationRegistrationAgency/">IATI Registration Agency codelist</a> in September 2016. A full revision history of the register itself can be found via GitHub.
      </div>
    </div>
  </main>
{% endblock %}
