{% extends 'base.html' %}
{% load static %}
{% load results %}

{% block main %}
<div class="container-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Find a List of Organization Identifiers </h2>
        <br>
        <br>
        <br>
        <form>
          <div class="form-group col-md-4">
            <div><small>GEOGRAPHICAL COVERAGE</small></div>
            <select name="coverage" class="selectpicker" data-live-search="true" data-width="300px" onchange="this.form.submit()">
              <option value="">Any country</option>
              {% for code, title  in lookups.coverage %}
              <option {% if query.coverage == code %} selected {% endif %}  value="{{code}}">{{title}}</option>
              {% endfor %}
            </select>
            {% if lookups.subnational %}
              <div style="margin-left:20px;margin-top:10px;">
                <div><small>SUBNATIONAL COVERAGE</small></div>
                <select name="subnational" class="selectpicker" data-live-search="true" data-width="300px" onchange="this.form.submit()">
                <option value="">Any subnational location</option>
                {% for code, title in lookups.subnational.items %}
                  <option {% if query.subnational == code %} selected {% endif %}  value="{{code}}">{{title}}</option>
                {% endfor %}
                </select>
              </div>
            {% endif %}
          </div>
          <div class="form-group col-md-4">
            <div><small>ORGANIZATION TYPE</small></div>
            <select name="structure" class="selectpicker" data-live-search="true" data-width="300px" onchange="this.form.submit()">
              <option value = "">Any type</option>
              {% for code, title in lookups.structure %}
                <option {% if query.structure == code %} selected {% endif %} value="{{code}}">{{title}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-4">
            <div><small>ORGANISATION SECTOR</small></div>
            <select name="sector" class="selectpicker" data-live-search="true" data-width="300px" onchange="this.form.submit()">
              <option value = "">Any sector</option>
              {% for code, title in lookups.sector %}
                 <option {% if query.sector == code %} selected {% endif %} value="{{code}}">{{title}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
          <div style="clear:both"></div>
        </form>
          {% if query %}
            {% if all_results.suggested %}
              {% with all_results.suggested as results %}
                <h3 id="results" class="text-center">Suggested Result</h3>
                <br>
                {% include 'results.html' %}
              {% endwith %}
            {% else %}
              <h3 id="results" class="text-center">No Suggested Results</h3>
            {% endif %}

            {% if all_results.recommended %}
              {% with all_results.recommended as results %}
              <h3 id="results" class="text-center">Recommended Results</h3>
              <br>
              {% include 'results.html' %}
              {% endwith %}
            {% else %}
              <h3 id="results" class="text-center">No Recommended Results</h3>
            {% endif %}

            {% if all_results.other %}
              {% with all_results.other as results %}
              <h3 id="results" class="text-center">Other Results </h3>
              <br>
              {% include 'results.html' %}
              {% endwith %}
            {% else %}
              <h3 id="results" class="text-center">No Other Results</h3>
            {% endif %}
          {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
<!-- <script>
$(function() {
  $("html, body").animate({ scrollTop: $('#results').offset().top + 100 }, 1000);
})
</script> -->
{% endblock %}
