{% extends 'base.html' %}
{% load static %}

{% block main %}
  <main class="main-wrapper" role="main">
    {% include "sidebar.html" %}

    <div class="main-content single-content">
      <header class="single-content__header">
        <a href="{{ org_list.url }}" class="button" target="_blank"><i class="material-icons">link</i></a>
        <h1>{{ org_list.name.en }} <span>({{ org_list.code }})</span></h1>
      </header>

      <div class="single-content__sidebar single-sidebar">
        <div class="single-sidebar__block quality-chart quality-chart--high" data-chart="{{ org_list.quality }}">
          <div id="quality-chart-container"></div>
        </div>
        <div class="quality-chart__list-type quality-chart--high">
            <p>List Type: <span>{{ org_list.listType }}</span></p>
          </div>

        <div class="single-sidebar__block single-sidebar--dark">
          <p>The code for this list is <br/><code>{{ org_list.code }}</code>. When you can located the organization you wish to identify in this list, you should either:</p>
          <p>Enter it in an identifier database field prefixed with <code>{{ org_list.code }}</code>.</p>
          <h2>Example</h2>
          <pre>
<code>{{ org_list.code }}-[ IDENTIFIER ]</code>
          </pre>
          <p>Or, use it within a two-part identifier, with <code>{{ org_list.code }}</code> as the 'scheme', and the identifier you have located as the 'identifier' field. </p>
        </div>
      </div>

      <div class="single-content__main">

        <div class="single-content__block single-description">
          <h2>Description</h2>
          <p>{{ org_list.description.en|urlize|linebreaks }}</p>
        </div>

        <div class="single-content__block single-meta-info">
          <ul class="single-meta-info__categories single-categories">
            <li class="single-categories__item single-categories--coverage">
              <p>Coverage: {% for x in org_list.coverage %}<span>{{ x }}{% if not forloop.last %},{% endif %} </span>{% endfor %}</p>
            </li>

            {% if org_list.sector %}
              <li class="single-categories__item single-categories--sectors">
                <p>Sectors: {% for x in org_list.sector %}<span>{{ x }}{% if not forloop.last %},{% endif %} </span>{% endfor %}</p>
              </li>
            {% endif %}
          </ul>

          <div class="single-meta-info__instructions">
            <h3>To find identifiers</h3>
            <p>{{ org_list.access.guidanceOnLocatingIds|urlize|linebreaks}}</p>
          </div>
        </div>

        <div class="single-content__block single-suggest">
          <p>You can suggest an edit to our information about this list by <a href="https://github.com/OpenDataServices/org-ids/issues/new">posting an issue</a> or <a href="https://github.com/OpenDataServices/org-ids/tree/master/codes/dk/dk-cvr.json">submitting a pull request</a>.</p>
        </div>
      </div>
    </div>
  </main>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/progress-bar.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
{% endblock %}
